@import url('https://fonts.cdnfonts.com/css/red-october-2');       

ul{
    list-style-position: inside;
    width: 30vw;
    margin: 0;
    padding-inline-start: 5vw;
    font-size: min(2.75vh, 2.75vw);
}

li + li {
    margin-top: 4vh;
}
#floors{
    text-align: start;
    display: flex;
    width: 100vw;
    justify-content: center;
}
body {
    font-family: 'Red October', sans-serif;
    font-size: 2vw;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    min-width: 100vw;
    display: inline-block;
}

section#first {
    background: url("bg2.jpg") no-repeat center center fixed;
    color: #dfb57a;
    font-size: min(3.5vh, 3.5vw);
    text-align: center;   
}

div + div{
    margin-top: min(10vh, 10vw);
}

a:link {
    color: inherit;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.header {
    background-color: rgb(243, 238, 232);
    border-radius: 0px 0px 50px 50px;
    min-width: 80vw;
    min-height: 15vh;
    margin-left:10vw;
    margin-right: 10vw;
    display: flex;
    justify-content: space-between;
    color: black;
}

.header h1 {
    padding-left: 20vw;
    padding-top: 3vh;
}

img#logo {
    height: 10vw;
    width: 10vw;
    align-self: left;
    margin-right: 10vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#floor_description {
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
    justify-content: center;
}

@media screen and (min-width: 900px) {
    #plan_img{
        width: 30vw;
        height: 40vw;
        margin-right: 10vh;
    }
    #floor_description {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width: 900px) {
    #plan_img{
        width:60vw;
        height: 60vw;
        margin-bottom: 10vh;
    }
    #floor_description {
        flex-direction: column;
    }
}